.container{
 display: flex;
}

.img{
    width: 40px;
    height: 40px;
}

.title{
    font-size: 25px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 8px;
}

.subtitle{
    padding-left: 5px;
    white-space: nowrap;
}